<h4 class="facets-heading" style="padding-top: 12px; margin-bottom: -6px;">Welcome to</h4>
<h1>Blacklight Folders</h1>

<p>This is a simple demo site to show the capabilities of the <a href="https://github.com/projectblacklight/blacklight_folders">blacklight_folders</a> gem.</p>

<p>Blacklight Folders extends the basic capabilities provied by bookmarks by allowing users to: </p>

<ul> 
  <li>create multiple folders (or reference lists) and add items to them</li>
  <li>order items within folders</li>
  <li>export individual reference lists to common reference tools</li>
</ul>

<p>The feature set is very similar to a personal tagging system in both it's capabilities and implementation.</p>

<p>Existing blacklight users can migrate each users bookmarks to a default folder on initial implementation.</p>

<hr/>

<p>To explore folder capabilities:</p>

<ol>
  <li>Create a user account by clicking the <a href="/users/sign_in">Login</a> link in the upper right and then using the <a href="/users/sign_up">Sign Up</a> link to create a user account</li>
  <li>Once you're logged in, click on the <a href="/blacklight/folders">Folders</a>, then choose <a href="/blacklight/folders/new">Create a New Folder</a></li>
  <ol>
    <li>Give your new folder a name</li>
    <li>Choose whether it should be shared or private</li>
    <li>Click on "Create Folder" to save you new folder</li>
  </ol>
  <li>Use the search and facet tools to find some items</li>
  <li>Select one or more items from your results list by clicking the checkbox next to the items you want</li>
  <li>Add the items to your folder by clicking on the "Add to Folder" button and selecting your new folder</li>
  <li>Visit your list by clicking on <a href="/blacklight/folders">Folders</a> and selecting your folder</li>
  <li>Use the "Edit Folder" button to change the name of your folder and re-order items</li>
</ol>


